<div class="container">

  <div class="row mt-3">
    <%= render "navbar" %>
  </div>

  <div class="row">

    <!-- 1st column -->
    <div class="col-3">
      <h1 class="lead mb-4">samslist</h1>
      <%= render "cta" %>
    </div>

    <!-- 2nd column -->
    <div class="col-7 small">

      <div class="row">
        <div class="col-4">
          <% 3.times do %>
            <%= render "list", items: 5 %>
          <% end %>
        </div>

        <div class="col-4">
          <% 2.times do %>
            <%= render "list", items: 5 %>
          <% end %>
        </div>

        <div class="col-4">
          <% 3.times do %>
            <%= render "list", items: 5 %>
          <% end %>
        </div>
      </div>

    </div>

    <!-- 3rd column -->
    <div class="col-2 small">
      <%= render "cities" %>
    </div>

  </div>
</div>

  
