<div class="container">
  <div class="row mt-3">

    <!-- 1st column -->
    <div class="col-3 mt-4">
      <h1 class="lead">samslist</h1>
      <hr>
      <%= render "cta" %>
    </div>

    <!-- 2nd column -->
    <div class="col-7 small">
      <%= render "navbar" %>

      <div class="row">
        <div class="col-4">
          <% 3.times do %>
            <%= render "list", items: 5 %>
          <% end %>
        </div>

        <div class="col-4">
          <% 2.times do %>
            <%= render "list", items: 5 %>
          <% end %>
        </div>

        <div class="col-4">
          <% 3.times do %>
            <%= render "list", items: 5 %>
          <% end %>
        </div>
      </div>

    </div>

    <!-- 3rd column -->
    <div class="col-2 small mt-4">
      <div class="lead text-muted mb-3">Nearby:</div>
      <%= render "cities" %>
    </div>

  </div>
</div>

  
