<div class="container-fluid">

  <div class="row mt-md-3 mt-lg-4">
    <div class="col">
      <%= render "/posts/breadcrumb" %>
    </div>
  </div>

  <%= render "/posts/nav-buttons" %>

  <%= render "/post/county" if params[:page] == "county" %>
  <%= render "/post/city" if params[:page] == "city" %>
  <%= render "/post/type" if params[:page] == "type" %>
  <%= render "/post/category" if params[:page] == "category" %>
  <%= render "/post/content" if params[:page] == "content" %>
  <%= render "/post/map" if params[:page] == "map" %>
  <%= render "/post/photos" if params[:page] == "photos" %>
  <%= render "/post/preview" if params[:page] == "preview" %>

</div>
