<nav class="navbar navbar-light bg-light mb-4 p-4">

  <ol class="nav">
    <li class="breadcrumb-item">
      <%= link_to "Home", county_path(@county) %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to @category.name, county_category_path(@county, @category) if @category %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to @subcategory.name, county_subcategory_path(@county, @subcategory) if @subcategory %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @post.title %></li>
  </ol>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= link_to "Create a Post", new_post_path, :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <div class="nav-link disabled">|</div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>

</nav>
