<div class="container-fluid">

  <div class="row mt-md-3 mt-lg-4">
    <div class="col">
      <%= render "breadcrumb" %>
    </div>
  </div>

  <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
    <% @tabs.each.with_index do |tab, index| %>
      <li class="nav-item">
        <a class="nav-link <%= :active if index==0 %>" 
        id="pills-<%= tab %>-tab" data-toggle="pill" href="#pills-<%= tab %>" role="tab" aria-controls="pills-<%= tab %>" aria-selected="false">
          <%= tab.capitalize %>
        </a>
      </li>
    <% end %>
  </ul>

  <%= form_for @post do |form| %>
    <div class="tab-content" id="pills-tabContent">
      <% @tabs.each.with_index do |tab, index| %>
        <div class="tab-pane fade show <%= :active if index==0 %>" id="pills-<%= tab %>" role="tabpanel" aria-labelledby="pills-<%= tab %>-tab">
          <%= render tab, form: form %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
