<div class="container-fluid">

  <div class="row mt-md-3 mt-lg-4">
    <div class="col offset-md-3">
      <%= render "navbar" %>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">

    <!-- 1st column -->
    <div class="col-md-3">
      <%= render "brand" %>
      <%= render "cta" %>
    </div>

    <!-- 2nd column -->
    <div class="col-md-7 small">

      <div class="row">
          <% categories = Category.all.to_a %>
          <div class="col-4">
            <% categories[0..2].each do |category| %>
              <%= render "city_listings", category: category %>
            <% end %>
          </div>
          <div class="col-4">
            <%= render "city_listings", category: categories[3] %>
          </div>
          <div class="col-4">
            <% categories[4..5].each do |category| %>
              <%= render "city_listings", category: category %>
            <% end %>
          </div>
      </div>

    </div>

    <!-- 3rd column -->
    <div class="col-md-2 col-sm-12 small">
      <%= render "cities" %>
    </div>

  </div>
</div>

  
