<div class="container-fluid">

  <div class="row mt-md-3 mt-lg-4">
    <div class="col offset-md-3">
      <%= render "navbar" %>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">

    <!-- 1st column -->
    <div class="col-md-3">
      <%= render "brand" %>
      <%= render "cta" %>
    </div>

    <!-- 2nd column -->
    <div class="col-md-7 small">

      <div class="row">
        <div class="col-4">
          <% 3.times do %>
            <%= render "list", items: 5 %>
          <% end %>
        </div>

        <div class="col-4">
          <% 2.times do %>
            <%= render "list", items: 5 %>
          <% end %>
        </div>

        <div class="col-4">
          <% 3.times do %>
            <%= render "list", items: 5 %>
          <% end %>
        </div>
      </div>

    </div>

    <!-- 3rd column -->
    <div class="col-md-2 col-sm-12 small">
      <%= render "cities" %>
    </div>

  </div>
</div>

  
