<div class="container-fluid">

  <div class="row mt-md-3 mt-lg-4">
    <div class="col">
      <%= render "navbar" %>
    </div>
  </div>

  <div class="row">

    <!-- 1st column -->
    <div class="col-md-3 small">
      <%= render "brand" %>
      <h2 class="display-5 mb-4 text-secondary text-center"><%= @category.name %></h2>
      <%= render "filter-tools" %>
    </div>

    <!-- 2nd column -->
    <div class="col-md-9 small">
      <%= render "pagination" %>

      <div class="card-deck">
        <% @posts.each do |post| %>
            <div class="col-4">
              <%= render "card", post: post %>
            </div>
        <% end %>
      </div>

    </div>

  </div>
</div>

  
